<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320633450806-vqlrk9q5r7b5ogtfat9shue17cl57r3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320633450806-vqlrk9q5r7b5ogtfat9shue17cl57r3v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>320633450806-offimou0ucd7gvv4tpnf95h69hfvs1rl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCnc2qEWVCCcpf6ofjivXP5LLRTU5GGVVc</string>
	<key>GCM_SENDER_ID</key>
	<string>320633450806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emoji.store</string>
	<key>PROJECT_ID</key>
	<string>emoji-ed2fa</string>
	<key>STORAGE_BUCKET</key>
	<string>emoji-ed2fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320633450806:ios:2f070ae630874cd2b4c397</string>
	<key>DATABASE_URL</key>
	<string>https://emoji-ed2fa.firebaseio.com</string>
</dict>
</plist>